version: '3.8'

services:
  mlops-app:
    build: .
    ports:
      - "8000:8000"   # API port
      - "8501:8501"   #2nd port 
    environment:
      - ENVIRONMENT=development
    volumes:
      - ./app:/app   
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
